/* =========================
   Ressources – Nœuds
   ========================= */
$resource-iron: #A0A4B8;
$resource-copper: #D08770;
$resource-coal: #2E3440;
$resource-stone: #8A8F98;
$resource-oil: #1C1C1C;
$resource-water: #4DA6FF;

/* Ressources transformées */
$resource-iron-plate: #C0C4D8;
$resource-copper-wire: #F2A97E;
$resource-steel: #6B7280;
$resource-plastic: #E5E7EB;
$resource-circuit: #2ECC71;