#root {
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
}

.gameView {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.destroy {
  box-shadow: -1px -1px 5px red inset;
}